<header class="topbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/maps/new">Create Map</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
</header>


