<!DOCTYPE html>
<html lang="en">

<head>
  <title>Registration</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" type="text/css" href="/styles/header.css"/>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/header') %>
  <main style="margin: 1em;">
    <h3>Create Account</h3>
    <form action="/register" method="POST">
      <div class="form-group mb-2">
        <label for="email">Email address</label>
        <input class="form-control mb-3" type="email" name="email" placeholder="Enter email" style="width: 300px">
        <label for="password">Password</label>
        <input class="form-control mb-3" type="password" name="password" placeholder="Enter password" style="width: 300px">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </main>
</body>

</html>
